/*Font imports from GoogleAPI */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.App {
  text-align: center;
  background-color: ghostwhite;
  margin: 0;

  /* TO MAKE THE FOOTER STICKY */
  height: 100vh;
  width: 100vw;
  display: flex; 
  flex-direction: column;
  /* 1st part --> start, last part --> end and everythin inbetween spaced evenly  #F8F0F8*/
  /* putting header to very top and footer to very bottom, causing the space */
  justify-content:space-between;
  align-items: center;

  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: white; 

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* STYLING */

@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
selector{
font-family: 'Playfair Display', sans-serif;
}


@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
selector{
font-family: 'Oswald', sans-serif;
}



/* NAV BAR */
/* Places navbar on right side of web page */

.navbar{
  display: grid; 
  grid-template-columns:1fr 1fr ;
  column-width: 5px;
  margin-left: 900px;
  padding: 30px;
}

.navbar button{

}

body {
  margin: 0;
}
/* nav {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  text-align: center;
} */

header {
  display: flex; 
  align-items: flex-start;
  background-color: #C4D7E0;
  position: fixed;
  height:15vh;

}

main{
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 100vw;
  height:100%;
  margin-top:15vh;
  padding-top:2vh;
}

.titleHeader {
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
  background-color: #C4D7E0;
  color: white;
  text-align: center;
  padding: 10px; 
  margin:0;
  position: sticky;
  top: 0;
  width: 100vw;
}


.searchTitle{
  /* font-family: "Oswald";  */
  font-size: 35px;
  color: green;

}

.searchbar{
  font-size: 20px;
}

.searchButton{
  font-size: 15px;
  margin-left: 10px;
  background-color: white;
}


.creatingBlogPost {
  /* display: none; */
  background-color: #B2C8DF;
  color: #6E85B7;
  /* width: fit-content; */
  /* width: 100%; */
  width: 800px;
  margin-left: 300px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;

  /* position: relative; */
  /* animation: mymove 5s infinite; */

}

.hidden{
  display: none;
  visibility: hidden;
}

.showCreatingBlogPost{
  background-color: #B2C8DF;
  color: #6E85B7;
  width: fit-content;
  margin-left: 720px;
  padding: 15px;
  border-radius: 10px;
}

.category-dropdown{
  width: 220px;
  font-size: 20px;
}

.input{
  font-size: 20px;
}

.createBlogPostTitle{
  /* font-family: "Oswald"; */
  font-size: 40px;
}

.postButton{
    font-size: 30px;
    /* font-family: "Oswald"; */
    background-color: #6E85B7;
    font-weight: bold;
    color: white;
    border-color: #6E85B7;
    border-radius: 15px;
    width: 100px;
}

.post-button-box{
  display: flex;
  justify-content: space-between;
}

.post-button-box button{
  background-color: #6699cc;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.post-button-box button:hover{
  background-color: #1c73cb;
  /* font-size: 22px; */
  font-weight: bolder;
}

.read-more-button{
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.deleteButton{
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}


.displayingBlogPosts{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.post{
  /* background-color: cadetblue; */
  background-color: white;
  border-radius: 20px;
  height: fit-content;
  width:fit-content;
  margin:2vh;
}

.post-image-text-box{
  padding: 15px; 
}

.blogImage {
  border-radius: 20px;
}

/* nav {
  background-color: #709FB0;
} */

/* NAV BUTTONS  */
/* GLOWING LOG IN BUTTONS */
.glow-on-hover {
  /* width: 220px; */
  max-width: 130px;
  margin: 10px;
  height: 50px;
  border: none;
  outline: none;
  color: black;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, #CEE5D0, #ECB390, #A7C5EB);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* SECOND NAV BUTTON ADDITIONAL STYLING */
/* .nav-button{ */
 
  /* margin-left: 850px;
  margin-top: 10px;
  margin-bottom: 10px; */
 
  /* width: fit-content;
  width: 210px; */
/* } */

/* STYLING FOOTER */
footer {
  background-color: #C4D7E0;
  color: white;
  text-align: center;
  padding: 10px; 
  margin:0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-weight: bold;
}

/* Popup container */
.popup {
  position: absolute;
  height:100vh;
  width:100vw;
  background-color: grey;
  opacity:35%;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popupform {
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10vh;
  position: absolute;
  z-index: 1;
  top:25vh;
  left: 40vw;
  margin-left: -80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightsteelblue;
  position: absolute;
}

.popupform input{
  font-size: 25px;
}
.popup .popupform select{
  font-size: 25px;
}


/* Popup arrow */
.popup .popupform::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.search-sidebar{
  height:100%;
}

.search-bar-box{
  display: flex;
  margin-bottom:5%;
}

.category-button-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  row-gap: 10px;
  height:100%;
}

.category-button-box button{
  width:100%;
  height:5%;
  font-size: 25px;
  background-color: white;
  border-style: none;
  border-bottom-style: solid;
}

.category-button-box button:hover{
  font-weight: bold;
  border-bottom-width:5px;
  border-bottom-color: #C4D7E0;
}