
.App {
  text-align: center;
  background-color: #C4D7E0;
  margin: 0;

  /* TO MAKE THE FOOTER STICKY */
  height: 100vh;
  width: 100vw;
  display: flex; 
  flex-direction: column;
  /* 1st part --> start, last part --> end and everythin inbetween spaced evenly */
  /* putting header to very top and footer to very bottom, causing the space */
  justify-content:space-between;
  align-items: center;
}

body {
  background-color: #C4D7E0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* STYLING */

@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
selector{
font-family: 'Playfair Display', sans-serif;
}


@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
selector{
font-family: 'Oswald', sans-serif;
}



/* NAV BAR */
/* Places navbar on right side of web page */

.navbar{
  display: grid; 
  grid-template-rows:1fr 1fr ;
  column-width: 5px;
  margin-left: 900px;
  padding: 30px;
  /* padding-bottom: 200px; */
  background-color: #709FB0;
  /* border-radius: 15px; */

}
body {
  margin: 0;
}
/* nav {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  text-align: center;
} */

header {
  display: flex; 
  align-items: flex-start;
  background-image: 'https://images.unsplash.com/photo-1500989145603-8e7ef71d639e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2376&q=80';

}

.titleHeader {
  display: flex; 
  align-items: flex-start;
}

.titleHeader:hover h1{
  color:#809A6F ;
  transform: translateX(70%)
}

/* GLOW ON HOVER */
h1:hover { text-shadow: 0 0 20px rgb(11, 243, 11); }

/* OLD STYLYING FOR COMPONENTS  */
/* .info{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:auto ;
}
.individual{
  background-color: cadetblue;
  padding: 15px; 
  margin: 15px;
} */



/* @keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
  to {right: 0px;}
} */

.searchTitle{
  font-family: "Oswald"; 
  font-size: 35px;
  color: green;

}

.searchbar{
  font-size: 20px;
}

.searchButton{
  font-size: 15px;
  margin-left: 10px;
  background-color: white;
}


.creatingBlogPost {
  /* display: none; */
  background-color: #B2C8DF;
  color: #6E85B7;
  /* width: fit-content; */
  /* width: 100%; */
  width: 800px;
  margin-left: 300px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;

  /* position: relative; */
  /* animation: mymove 5s infinite; */

}

.hidden{
  display: none;
}

.showCreatingBlogPost{
  background-color: #B2C8DF;
  color: #6E85B7;
  width: fit-content;
  margin-left: 720px;
  padding: 15px;
  border-radius: 10px;
}

.category-dropdown{
  width: 220px;
  font-size: 20px;
}

.input{
  font-size: 20px;
}

.createBlogPostTitle{
  font-family: "Oswald";
  font-size: 40px;
}

.postButton{
    font-size: 30px;
    font-family: "Oswald";
    background-color: #6E85B7;
    font-weight: bold;
    color: white;
    border-color: #6E85B7;
    border-radius: 15px;
    width: 100px;
}

.deleteButton{
  font-size: 20px; 
  font-family: "Oswald";
  background-color: white;
  border-radius: 15px;
  border-color: green;
  padding: 5px;
  color: green;
  height: 3.5vw;
  font-weight: bold;

}

.read-more-button{
  font-family: "Oswald";
  font-size: 12px;
  margin: 10px;
  color: green;
  border-radius: 15px;
  border-color: green;

}


.displayingBlogPosts{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.individualPost{
  /* background-color: cadetblue; */
  background-color: #94B49F;
  padding: 15px; 
  margin: 10px; 
  border-radius: 5px;
  /* font-family: "Playfair Display"; */
  /* width: 300px; */


}

/* nav {
  background-color: #709FB0;
} */

/* NAV BUTTONS  */
/* GLOWING LOG IN BUTTONS */
.glow-on-hover {
  /* width: 220px; */
  max-width: 130px;
  margin: 10px;
  height: 50px;
  border: none;
  outline: none;
  color: black;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, #CEE5D0, #ECB390, #A7C5EB);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* SECOND NAV BUTTON ADDITIONAL STYLING */
/* .nav-button{ */
 
  /* margin-left: 850px;
  margin-top: 10px;
  margin-bottom: 10px; */
 
  /* width: fit-content;
  width: 210px; */
/* } */

/* STYLING FOOTER */
footer {
 
  background-color: #709FB0;
  color: white;
  text-align: center;
  padding: 10px; 
  margin:0;
  position: sticky;
  bottom: 0;
  width: 100vw;
  font-weight: bold;
}
